.deploy-action {
    border-bottom: 1px solid var(--bs-border-color, #d7e1ea);
    padding: 10px 0 5px;
    margin-top: -20px;

    h5 {
        margin-top: 0.75rem;
        font-weight: 400;
        font-size: 14px;
    }

    p {
        color: #999;
    }

    .deploy-action-button {
        margin-top: 15px;
        margin-bottom: 10px;

        @media (min-width: 992px) {
            text-align: right;
        }
    }
}

