.deploy-action {
    border-bottom: 1px solid #d7e1ea;
    padding: 10px 0 5px;
    margin-top: -20px;

    p {
        color: #999;
    }

    .deploy-action-button {
        margin-top: 15px;
        margin-bottom: 10px;

        @media (min-width: 992px) {
            text-align: right;
        }
    }
}

